#Activation

RewriteEngine On

#Simple sans parametre

RewriteRule ^environnement.nan?$ environnement.php
RewriteRule ^insertion.nan?$ insertion.php
RewriteRule ^gamification.nan?$ gamification.php
RewriteRule ^peerlearning.nan?$ peerlearning.php
RewriteRule ^programme.nan?$ programme.php
RewriteRule ^piscine.php?$ piscine.php


# Multiple avec parametre


RewriteRule ^level-([a-z0-9]+) level.php?cursus=$1


#multi paramettre
RewriteRule ^question-([a-z0-9]+)-([a-z0-9]+) q-quiz-list-question.php?quiz=$1&idcat=$2

#Page erreur 404

ErrorDocument 404 http://localhost/nancours/site/not-a-number

#ErrorDocument 403 http://localhost/online/site/not-a-number

#ErrorDocument 505 http://localhost/online/site/not-a-number



# Securite fichier

#Options -Indexes